.app-navbar {
  display: flex;
  justify-content: space-between;

  &-actions {
    display: flex;
    gap: 10px;
    
    .user {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  app-logo {
    margin-right: 8px;
  }
}