<mat-progress-bar mode="indeterminate" class="submitting-progress-bar" *ngIf="isSubmitting"></mat-progress-bar>
<mat-progress-spinner *ngIf="isLoading" mode="indeterminate"></mat-progress-spinner>

<ng-content *ngIf="!isLoading">
  <ng-content *ngIf="(feedback | async) as feedback; else lessonBlock">
    <app-lesson-result [feedback]="feedback" [phrase]="phrase" [recordedData]="recordedData!" (onContinue)="nextLesson()" (onRetry)="retryLesson()"/>
  </ng-content>
  
  <ng-template #lessonBlock>
    <app-lesson-view (onRecordAudio)="answerLesson($event)" [phrase]="phrase" />
  </ng-template>
</ng-content>