.avatar {
  img {
    object-fit: cover;
    border-radius: 50%;
    height: var(--avatar-height);
    width: var(--avatar-width);
  }

  height: var(--avatar-height);
  width: var(--avatar-width);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}
