<header>
  <h1 class="mat-display-medium">Enhance your English speaking confidence with munio</h1>
  <p>Enhance your English pronunciation and speaking confidence with our interactive lessons and instant feedback powered by Gemini AI.</p>
</header>
<section class="homepage-how-it-works">
  <h1 class="mat-headline-medium">How it works</h1>
  <div class="homepage-how-it-works-steps">
    <app-feature-card title="Start a new session" description="Define your skills and session preferences, like how many lessons do you want to do.">
      <span>1</span>
    </app-feature-card>
    <app-feature-card title="Make lessons" description="Record your speaking based on lesson’s phrase.">
      <span>2</span>
    </app-feature-card>
    <app-feature-card title="Get feedback" description="After each lesson and at the end of the session, you will understand where to improve.">
      <span>3</span>
    </app-feature-card>
  </div>
  <p class="munio-cycle"><mat-icon aria-label="repeat" fontIcon="repeat"></mat-icon> start, record, learn, improve & repeat.</p>
</section>