<div mat-dialog-title class="dialog-title">
  <app-logo class="dialog-app-logo"/>
  <h2 class="mat-title-large">Log in to your account</h2>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>

<mat-dialog-content>
  <form class="dialog-form" [formGroup]="loginForm">

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="gabriel@gmail.com" type="email" required name="email" formControlName="email" />
      <mat-error>{{ getEmailError() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="12345678" type="password" minlength="8" required name="password" formControlName="password" />
      <mat-error>{{ getPasswordError() }}</mat-error>
    </mat-form-field>

    <p class="auth-dialog-form-error" *ngIf="!!requestError">{{ requestError }}</p>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-flat-button type="submit" [disabled]="isInvalidForm()" (click)="sendForm()">Login</button>
</mat-dialog-actions>
