<div mat-dialog-title class="dialog-title">
  <app-logo class="dialog-app-logo"/>
  <h2 class="mat-title-large">Create your account</h2>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
</div>
<mat-dialog-content>
  <form class="dialog-form" [formGroup]="signUpForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Gabriel" type="text" required name="name" formControlName="name" />
      <mat-error *ngIf="name?.invalid">{{ getNameError() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="gabriel@gmail.com" type="email" required name="email" formControlName="email" />
      <mat-error *ngIf="email?.invalid">{{ getEmailError() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="12345678" type="password" minlength="8" required name="password" formControlName="password" />
      <mat-error *ngIf="password?.invalid">{{ getPasswordError() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="12345678" type="password" required name="confirmPassword" formControlName="confirmPassword" />
      <mat-error *ngIf="confirmPassword?.invalid">{{ getConfirmPasswordError() }}</mat-error>
    </mat-form-field>
    <p class="auth-dialog-form-error" *ngIf="requestError">{{ requestError }}</p>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-flat-button type="submit" [disabled]="isInvalidForm()" (click)="sendForm()">Sign Up</button>
</mat-dialog-actions>
