<main *ngIf="authService.getCurrentUser() | async as user" class="dashboard">
  <header>
    <h2 class="mat-display-large primary-heading">Hello {{ user.name }}!</h2>
    <p class="mat-title-small">Let's start a new lesson?</p>
    <p class="mat-body-medium">Make speaking lessons and understand what to improve with AI-Driven analysis by Gemini.</p>
  </header>
  <main>
    <form class="session-creator-form" [formGroup]="sessionCreatorForm" (ngSubmit)="createSession()">
      <div class="session-creator-form-main-inputs">
        <mat-form-field appearance="outline">
          <mat-label>Level</mat-label>
          <mat-select formControlName="level">
            <mat-option value="3">Hard</mat-option>
            <mat-option value="2">Medium</mat-option>
            <mat-option value="1">Easy</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Context</mat-label>
          <mat-select formControlName="context">
            <mat-option value="routine">Routine</mat-option>
            <mat-option value="school">School</mat-option>
            <mat-option value="hobbies">Hobbies</mat-option>
            <mat-option value="cinema">Cinema</mat-option>
            <mat-option value="travel">Travel</mat-option>
            <mat-option value="work">Work</mat-option>
            <mat-option value="shopping">Shopping</mat-option>
            <mat-option value="social life">Social Life</mat-option>
            <mat-option value="health & wellness">Health & Wellness</mat-option>
            <mat-option value="family life">Family Life</mat-option>
            <mat-option value="dining out">Dining Out</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-label class="mat-label-large">Lessons</mat-label>
        <mat-slider min="2" max="10" step="1" showTickMarks discrete class="session-creator-form-lessons-slider">
          <input matSliderThumb value="2" formControlName="lessons">
        </mat-slider>
      </div>
      <button mat-flat-button type="submit">Start session</button>
      @if (isLoading()) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </form>
  </main>
</main>