<main class="dashboard">
  <mat-toolbar class="dashboard-navbar">
    <a mat-button routerLink="/" disableRipple class="dashboard-navbar-logo">
      <app-logo matButtonIcon/> munio
    </a>
    <div class="dashboard-navbar-right">
      <div *ngIf="authService.getCurrentUser() | async as user" class="dashboard-user" cdkFocusInitial>
        <app-avatar [name]="user.name" [imageUrl]="user.avatarUrl" />
        <span class="mat-label-large">{{ user.name }}</span>
      </div>
      <button mat-button (click)="authService.logout()" type="button">Logout</button>
    </div>
  </mat-toolbar>
  <mat-divider />
  <main>
    content
  </main>
</main>