<div class="wrapper">
  <app-logo />
  <h2>Thank you for using munio!</h2>
  <p>Started as an app to compete in the "Gemini API Developer Competition," Munio was a great tool for understanding how we can use AI to improve our skills. With Munio, I found the opportunity to create a production-ready system from scratch using AI and a lot of useful tools. For financial reasons, I'll disable the Munio back end, but you can self-host anytime! This version of the app will always be free.</p>
  <p>I received some emails and comments congratulating me on this app, so thank you for your comments. We will be back in the future!</p>
  <p>Thank you again! Best regards,</p>
  <p>Gabriel Sena. <a href="https://gabrielsena.dev">(Website)</a></p>
  <p>If you want to contact me, feel free to send an email or start a chat on LinkedIn!</p>
  <p>Email: <a href="mailto:hello@gabrielsena.dev">hello&#64;gabrielsena.dev</a></p>
  <div class="useful-links">
    <p><a href="https://ai.google.dev/competition/projects/munio">Submission link</a></p>
    <p><a href="https://github.com/muniocloud">Munio's github profile</a></p>
  </div>
</div>
